html {
  width: 100%;
}
html body {
  width: 100%;
  margin: 0;
  padding: 0;
}
html body .opendoor {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
html body .opendoor img {
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease;
}
