@media (max-width: 600px) {
  .grid-item {
    width: 120px;
  }
}
@media (max-width: 1000px) {
  .grid-item {
    width: 150px;
  }
}
@media (max-width: 1600px) {
  .grid-item {
    width: 200px;
  }
}
@media (max-width: 2000px) {
  .grid-item {
    width: 250px;
  }
}
a {
  text-decoration: none!important;
}
html body {
  background-color: #ccc !important;
}
.demo {
  position: relative;
  opacity: 0;
  transition: 0.2s ease;
  margin-bottom: 60px;
}
.demo .grid {
  position: relative;
  margin: 0 auto;
  width: 98%;
}
.demo .grid .grid-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  padding: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.mid-head {
  text-align: center;
}
.portal-container {
  width: 80%;
  margin: 20px auto;
}
.portal-container .demo {
  margin-top: 5vw;
}
.portal-container .demo .grid .grid-item .MochiBox {
  width: 100%;
  margin: 0 auto;
}
.portal-container .demo .grid .grid-item .MochiBox .MochiContent {
  display: block;
}
.portal-container .demo .grid .grid-item .MochiBox .MochiContent img {
  width: 100%;
  margin: 0 auto;
}
.portal-container .demo .grid .grid-item .MochiBox .MochiContent h3 {
  margin: 1vw auto;
  font-size: 1.5vw;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.portal-container .demo .grid .grid-item .MochiBox .MochiContent .portal-introduction {
  font-size: 0.75vw;
  text-indent: 1vw;
}
.link-private {
  display: block;
  position: fixed;
  bottom: 7.5vw;
  right: 7.5vw;
  border-radius: 50%;
  background-color: #fff;
  border: 2px dotted #4e2a40;
  padding: 0.5vw;
}
.link-private div {
  color: #666699;
  font-size: 3.5vw;
  text-align: center;
}
